<?xml version="1.0" encoding="utf-8" ?>
<EntAppFramework>
  <Log></Log>
  <DataAccesses  type="EntAppFrameWork.DataAccess.DataAccessHandler, EntAppFrameWork.DataAccess"  default="RedisStrategy">
    <DataAccess id="tokenredis" refType="tokenredisStrategy">
    </DataAccess>
    <Object id="tokenredisStrategy" type="EntAppFrameWork.DataAccess.Redis.RedisDataAccess2, EntAppFrameWork.DataAccess.Redis">
      <constructor-arg name="poolId" valueType="System.String" value="tokenredis" />
      <constructor-arg name="serverList" valueType="System.String" value="m.token.nosave.redis.common.hex.com:6407" />
      <constructor-arg name="dbIndex" valueType="System.Int32" value="0" />
      <constructor-arg name="poolSize" valueType="System.Int32" value="10" />
    </Object>
    <DataAccess id="RedisStrategyPool2" refType="RedisStrategyPool2Obj">
    </DataAccess>
    <Object id="RedisStrategyPool2Obj" type="EntAppFrameWork.DataAccess.Redis.RedisDataAccess2, EntAppFrameWork.DataAccess.Redis">
      <constructor-arg name="poolId" valueType="System.String" value="motto" />
      <constructor-arg name="serverList" valueType="System.String" value="m.motto.nosave.redis.common.hex.com:6386" />
      <constructor-arg name="dbIndex" valueType="System.Int32" value="0" />
      <constructor-arg name="poolSize" valueType="System.Int32" value="10" />
    </Object>
    <DataAccess id="hexcube" refType="Redishexcube">
    </DataAccess>
    <Object id="Redishexcube" type="EntAppFrameWork.DataAccess.Redis.RedisDataAccess2, EntAppFrameWork.DataAccess.Redis">
      <constructor-arg name="poolId" valueType="System.String" value="hexcube" />
      <constructor-arg name="serverList" valueType="System.String" value="m.hexcube.save.redis.group.hex.com:6381" />
      <constructor-arg name="dbIndex" valueType="System.Int32" value="0" />
      <constructor-arg name="poolSize" valueType="System.Int32" value="10" />
    </Object>
    <DataAccess id="htelayout" refType="htelayoutObj">
    </DataAccess>
    <Object id="htelayoutObj" type="EntAppFrameWork.DataAccess.Redis.RedisDataAccess2, EntAppFrameWork.DataAccess.Redis">
      <constructor-arg name="poolId" valueType="System.String" value="htelayout" />
      <constructor-arg name="serverList" valueType="System.String" value="m.htelayout.save.redis.group.hex.com:6383" />
      <constructor-arg name="dbIndex" valueType="System.Int32" value="0" />
      <constructor-arg name="poolSize" valueType="System.Int32" value="10" />
    </Object>
    <DataAccess id="messageredis" refType="messageObj">
    </DataAccess>
    <Object id="messageObj" type="EntAppFrameWork.DataAccess.Redis.RedisDataAccess2, EntAppFrameWork.DataAccess.Redis">
      <constructor-arg name="poolId" valueType="System.String" value="message" />
      <constructor-arg name="serverList" valueType="System.String" value="m.message.save.redis.common.hex.com:6409" />
      <constructor-arg name="dbIndex" valueType="System.Int32" value="0" />
      <constructor-arg name="poolSize" valueType="System.Int32" value="10" />
    </Object>
  </DataAccesses>
  <PublishSubscribe app="" default="KafkaProvider">
    <Provider id="log" refType="logkafkaP"></Provider>
    <Object id="logkafkaP" type="EntAppFrameWork.PublishSubscribe.Kafka.PublishSubscribeClientForKafka, EntAppFrameWork.PublishSubscribe.Kafka" >
      <constructor-arg name="brokerUri" valueType="System.String" value="w1.log.kafka.common.hex.com:9092,w2.log.kafka.common.hex.com:9092,w3.log.kafka.common.hex.com:9092"/>
      <constructor-arg name="producerPoolId" valueType="System.String" value="log"/>
      <constructor-arg name="groupId" valueType="System.String" value="log"/>
      <constructor-arg name="ser" valueType="System.String" value="json"/>
    </Object>
    <Provider id="trace" refType="tracekafkaP"></Provider>
    <Object id="tracekafkaP" type="EntAppFrameWork.PublishSubscribe.Kafka.PublishSubscribeClientForKafka, EntAppFrameWork.PublishSubscribe.Kafka" >
      <constructor-arg name="brokerUri" valueType="System.String" value="w1.trace.kafka.common.hex.com:9092,w2.trace.kafka.common.hex.com:9092,w3.trace.kafka.common.hex.com:9092"/>
      <constructor-arg name="producerPoolId" valueType="System.String" value="trace"/>
      <constructor-arg name="groupId" valueType="System.String" value="trace"/>
      <constructor-arg name="ser" valueType="System.String" value="json"/>
    </Object>
  </PublishSubscribe>
  <DomainModel  serviceDiscoveryMode="on" >
  </DomainModel>
</EntAppFramework>